@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: WHITE;
    font-weight: bold;
}

nav {
    background-color: #26A6D1;
    box-shadow: 0 2px 15px #C4F0FF;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgb(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
    color: white;
}

nav ul li a:hover {
    background-color: white;
    color: #26A6D1;
}

nav ul.hide {
    display: none;
}
h1,
h2,
h3,
p{
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    padding: 0;
    margin: 0;
}
p{
    text-decoration: none;
    color: #D51920;;
}

header {
    background-color: #fff;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #26A6D1;
}

header img {
    width: 80px;
    height: auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: #D51920;
    margin-left: 20px;
    font-size: .9rem;
}

main {
    background-color: white;
    margin-left: .4rem;
    margin-right: .4rem;
}

main h1 {
    color: #26A6D1;
    text-align: center;
    padding: .5rem;
}

.topics {
    border: dotted #C4F0FF;
    padding: 0.3rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: white;
    color: #D51920;
}

.topics a{
    text-decoration: none;
    color: #D51920;
}

footer {
    text-align: center;
    color: white;
    padding: 0.9rem;
    background-color: #26A6D1;
    margin-left: .4rem;
    margin-right: .4rem;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
